body{
background-color: #000000;
color:#e2e8f0;

}

/*
significa tudo com relação a pagina
configuração inical do projeto
font-family escolhe a fonte (escolha pessoal)
padding é o espaço interno entre o conteúdo de um elemento e sua borda
box-sizing: border-box; é uma propriedade CSS
que define como o tamanho de um elemento é calculado.
*/
*{
margin: 0;;
padding: 0;
box-sizing: border-box;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* configurando a cor do fundo da página*/
body {
background-color: rgb(255, 255, 255),255; /* cor do fundo*/
}
.navegacao{
    width: 100%; /*largura do menu em relação a largura da página*/
    top: 0; /*menu sempre ficar no topo*/
    position: fixed; /* deixa o menu fixo*/
    background: rgba(1, 11, 68, 0.8); /* COR DO FUNDO COM TRANSPARÊNCIA*/
    padding: 1.5rem; /* espaço interno do menu*/
    z-index: 100; /* MENU FICA NA FRENTE DO CONTEÚDO DA PÁGINA*/
}

.menu{
    display: flex;
    justify-content: center;
    gap: 3rem;
    list-style: none;
}

.menu-link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    position: relative;
    padding: 0.5 0;
}

.menu-link::before{
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background:linear-gradient(90deg, #261ebc,#7c3aed);
    transition: width 0.5s ease;
}

.menu-link:hover::before{
    width: 100%;
}
.foto-perfil{
    width: 200px;
    height: 200px;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.1);
}
.principal{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.div-foto{
    text-align: center;
}
.div-foto h1{
    font-size: 35px;
    color: rgb(222, 51, 60);
    margin: 5px;
}

.div-foto p{
    font-size: 1.5rem;
    color: rgba(238, 34, 133, 0.533);
}
.sobre{
    padding: 6rem 2rem;
}
.sobre-titulo{
    font-size: 2.0rem;
    color: #e2e8f0;
    margin-bottom: 20px;
    text-align: center;
}
.sobre-caixa{
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.05);
}
.sobre-paragrafo{
    text-align: center;
    font-size: 16px;
}
.projetos-imagem{
    height: 200px;
    width: 100%;
    object-fit: cover;
}
.projetos-caixa{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}